<div class="filter-container">
  <app-select-input
    [placeHolder]="'Block Number'"
    name="block_number"
    [options]="(blocks$ | async) ?? []"
    [(ngModel)]="filters.block_number"
    (change)="filterHouses()"
  />

  <app-select-input
    [placeHolder]="'Land Number'"
    name="land_number"
    [options]="(landNumbers$ | async) ?? []"
    [(ngModel)]="filters.land_number"
    (change)="filterHouses()"
  />

  <app-select-input
    [placeHolder]="'From'"
    name="min"
    [options]="(minToMaxPrices$ | async) ?? []"
    [(ngModel)]="filters.min"
    (change)="filterHouses()"
  />

  <app-select-input
    [placeHolder]="'To'"
    name="max"
    [options]="(MaxToMinPrices$ | async) ?? []"
    [(ngModel)]="filters.max"
    (change)="filterHouses()"
  />

  <button
    (click)="clearFilters()"
    class="clear-filters-button"
    aria-label="Clear Filters"
  >
    Clear Filters
  </button>
</div>

<div class="accordion-container">
  @if (filteredHousesByModel$ | async; as data) { @for (item of data | keyvalue;
  track item.key; let index = $index) {
  <app-accordion [isCollapsed]="index === 0" [header]="item.key">
    @if (modelInfoMap && modelInfoMap[item.key]) {
    <app-model-info [modelInfo]="modelInfoMap[item.key]" />
    }

    <app-table [tableData]="item.value"></app-table>
  </app-accordion>
  } }
</div>
