
@if (!(isLogged$ | async)) {
  <button
    (click)="slideDownInputs = !slideDownInputs"
    class="login-button btn"
  >
    Login >>
  </button>
  <div
    class="login-container"
    [class]="slideDownInputs ? 'login-container-visible' : 'login-container-hidden'"
  >
    <app-input
      placeholder="user name"
      [(ngModel)]="user.username"
      [errorMessage]="userNameErr"
    />
    <app-input
      placeholder="password"
      type="password"
      [(ngModel)]="user.password"
      [errorMessage]="userPwErr"
    />
    <button
      class="login-submit-button btn"
      (click)="login()"
    >
      Login
    </button>
  </div>
} @else {
  <a
    class="create-house-button btn"
    routerLink="/create"
  >
    Create House
  </a>
  <button
    class="logout-button btn"
    (click)="logout()"
  >
    Logout
  </button>
}